@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Dans votre fichier CSS */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0891b2;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

/* :root dans index.css ou theme.css */
:root {
  --bg-gradient-start: #0A192F;
  --bg-gradient-end: #1A325E;
  --card-bg: #1A2E44;
  --text-primary: #E0E7FF;
  --text-secondary: #A3B8FF;
  --input-bg: #15273C;
  --border-fine: #3D5A80;
  --accent-primary: #6366f1;
  --accent-secondary: #8b5cf6;
  --accent-success: #10b981;
  --accent-warning: #f59e0b;
  --accent-danger: #ef4444;
}